.img-vlog {
    padding-bottom: 20px
}
.user-activty {
    padding-top: 10px;
    padding-left: 10%;
}
.user-activty-detail {
    padding-right: 15%;
}
.user-activty-time-ago {
    padding-left: 15%;
    font-size: 10pt
}
.user-like-detail {
    padding-left: 5%;
}

.menu-right {
    text-align: right
}

.row-height {
    height: 25;
}

.card-text {
    font-size: 9pt
}